.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    position: relative;
}

.card {
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    border: 1px solid black;
    height: 510px;
    box-shadow: 2px 1px 2px 0px gray;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-img-top {
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

.card-text {
    margin-bottom: 10px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.btn:hover {
    background-color: #0056b3;
}

.addsImg {
    /* border: 2px solid black; */
    background-size: cover;
    margin-top: 120px;
}


.addimg-1 {
    width: 100%;

}

.letestHeading {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* footer  */

.footer {
    border : 2px solid black;
    height: 250px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    flex-direction: column;
}

.footerItem {
    padding: 20px;
    
}

.footerItem > ul > li {
    list-style: none;
    padding: 5px;
}

.hr {
    border: 2px solid green;
    width: 100%;

}


/* Navbar CSS */

.Navbar-Main {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
}

.navItem {
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.inputBox {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
}

.searchBtn {
    padding: 10px 20px;
    background-color: #e70d0d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchBtn:hover {
    background-color: #ff3333;
}

.links {
    width: 15%;
    display: flex;
    /* border: 2px solid black; */
    justify-content: space-around;
    list-style: none;
    font-size: xx-large;
    column-gap: 20px;
}

.link {
    color: black;
    text-decoration: none;
}


/* Add To Cart  */

.container {
    display: block;
}

.Addcard {
    display: flex;
    border: 2px solid black;
    column-gap: 20px;
    width: 97%;
    padding: 20px;
    margin-bottom: 5px;
}


.card-img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.card-Details {
    /* border: 2px solid black; */
    width: 100%;

}